---
import Pill from "@/components/home/Pill.astro";
import Layout from "@/layouts/Layout.astro";
import { getTranslations } from "@/i18n/ui";

const t = getTranslations(Astro.currentLocale);
---

<Layout title={t("404.title")}>
  <section class="flex flex-col items-center justify-center text-center mx-auto gap-y-4 w-full px-8 h-[90svh]">
    <h1 class="text-4xl font-bold">{t("404.heading")}</h1>
    <p class="text-lg">{t("404.text")}</p>
    <Pill href="/" target="_self">{t("404.back")}</Pill>
  </section>
</Layout>
