---
import Layout from "../layouts/Layout.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import Pill from "../components/home/Pill.astro";
import About from "../components/home/About.astro";
import Skills from "../components/home/Skills.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import Header from "../components/home/Header.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
// import ContactIcon from "../components/icons/ContactIcon.astro";
import Projects from "@/components/home/Projects.tsx";
---

<Layout title="Juan P Hernández | Portfolio" description="Software and Computer Systems Engineering Student. Full-stack web developer in progress">
  <Header />
  <main>
    <section
      class="flex flex-col items-center justify-center text-center mx-auto gap-y-4 w-full lg:w-[740px] h-[100svh] px-8"
    >
      <h1 class="text-4xl font-bold flex justify-center text">
        Juan Pablo Hernández
      </h1>
      <h2 class="text-2xl opacity-50">
        Software and Computer Systems Engineering Student
      </h2>
      <section class="flex gap-x-4 mt-4">
        <Pill href="https://github.com/juanpahv" target="_blank">
          <GithubIcon class="size-6" /> GitHub
        </Pill>
        <Pill href="https://www.linkedin.com/in/juanpahv/" target="_blank">
          <LinkedInIcon class="size-6" /> LinkedIn
        </Pill>
      </section>
    </section>
    <section id="about" class="flex flex-col gap-y-4 w-full lg:w-[740px] mx-auto mb-40 px-8">
      <About />
    </section>
    <section id="skills" class="flex flex-col w-full mx-auto mb-20">
      <h1 class="flex justify-center gap-x-2 items-center text-2xl font-bold">
        <SkillsIcon class="size-6" />
        Skills
      </h1>
      <span class="md:grid grid-cols-2 mx-auto">
        <Skills />
      </span>
    </section>
    <section id="projects" class="flex flex-col justify-center items-center gap-y-4 w-full lg:w-[740px] mx-auto mb-40 px-[4rem]">
      <h1 class="flex justify-center gap-x-2 items-center text-2xl font-bold">
        <ProjectsIcon class="size-6" />
        Projects
      </h1>
      <Projects client:load />
    </section>
    <!-- <section>
      <h1 class="flex justify-center gap-x-2 items-center text-2xl font-bold">
        <ContactIcon class="size-6" />
        Contact
      </h1>
    </section> -->
  </main>
</Layout>
@/components/home/Projects