---
import UserCodeIcon from '../icons/UserCodeIcon.astro'
import Me from '../home/Me.astro'
import BooksIcon from '../icons/BooksIcon.astro'
import Education from './Education.astro'
---

<h1 class="flex justify-center items-center text-2xl font-bold">
  About
</h1>
<h2 class="flex items-center gap-x-2 text-2xl opacity-50">
  <UserCodeIcon class="size-6" /> Me
</h2>
<Me />
<h2 class="flex items-center gap-x-2 text-2xl opacity-50 mt-12">
  <BooksIcon class="size-6" /> Education
</h2>
<Education />