---
import { useTranslations } from "@/i18n/ui";

const t = useTranslations(Astro.currentLocale);
---

<article class="flex flex-col gap-y-2">
  <h3 class="text-xl font-bold">{t("education.school")}</h3>
  <p class="text-xl font-semibold">{t("education.degree")}</p>
  <time class="opacity-50">{t("education.dates")}</time>
  <p class="text-xl">{t("education.detail")}</p>
</article>
