<article class="flex flex-col gap-y-2">
  <h3 class="text-xl font-bold">Universidad La Salle Bajío</h3>
  <p class="text-xl font-semibold">Software and Computer Systems Engineering</p>
  <time class="opacity-50">August 2021 - July 2025</time>
  <p class="text-xl">
    Studying programming, web development, mobile development, database
    administration, networking, project management.
  </p>
</article>
