<article>
  <p class="text-xl text-pretty">
    I'm passionate about computer science, technology and software development,
    the area I want to focus is <strong>full-stack web development</strong>. I'm
    always willing and searching to learn anything new, I push myself to improve my skills and
    problem solving abilities, as well, I'm a self-taught person. I'm also interested in entrepreneurship and
    startups.
  </p>
</article>
