<article>
  <p class="text-xl">
    I'm passionate about computer science, technology and software development,
    the area I want to focus is <strong>full-stack web development</strong>. I'm
    always willing to learn anything new, I push myself to improve my skills and
    problem solving abilities. I'm also interested in entrepreneurship and
    startups.
  </p>
</article>
